@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

.title {
  font-family: Anton !important;
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
}

.budgetBox {
  background-color: #f3f3f7;
  max-height: 9rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.budgetNumber {
  font-family: Anton !important;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.offerButton {
  border-radius: 25px !important;
  padding: 0.6rem 1.5rem !important;
  background-color: #040225 !important;
}
