.taskListContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  max-height: 80vh;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background-color: #f3f3f7;
}

.taskCard {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  cursor: pointer;
}

.taskCard:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.taskCardTitle {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.taskCardDetail {
  font-size: 0.875rem;
  color: #757575;
  margin-bottom: 0.5rem;
}

.taskCardBudget {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
