.myTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
  background-color: #f9f3ef;
}

.taskListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.taskCard {
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.taskCard:hover {
  transform: scale(1.05);
}

.taskCardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.title {
  font-family: 'Anton', sans-serif;
  color: #333;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}
