@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.navContainer {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 37, 46, 1) 35%,
    rgba(64, 163, 209, 1) 100%
  );
  padding: 2em 18em;
  display: flex;
  justify-content: space-evenly !important;
}

.navList {
  display: flex;
}

.leftNav {
  display: flex;
  flex-direction: row !important;
}
.rightNav {
  display: flex;
}

.navButton {
  font-family: Rubik !important;
  color: white !important;
  font-size: 1em !important;
  font-weight: 700 !important;
  opacity: 0.9 !important;
}

.rightNavButtons {
  background-color: #070826 !important;
  font-weight: 600 !important;
  width: 8vw !important;
  height: 5vh !important;
  padding: 1.3em !important;
  margin: 1em !important;
  border-radius: 15px !important;
}

.rightNavButtons:hover {
  color: black !important;
  background-color: #efc734 !important;
}

.navButton:hover {
  color: #efc734 !important;
}
