.secondaryNav {
  display: flex;
  align-items: center;
  background-color: #f3f3f7;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: 0 4rem;
}

.searchInput {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterButton {
  text-transform: none;
  background-color: #070727;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  box-shadow: none;
}

.applyButton {
  margin-top: 16px;
  color: #fff;
  background-color: #070727;
  text-transform: none;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
}

@media (max-width: 768px) {
  .secondaryNav {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .searchInput {
    margin-bottom: 1rem;
  }

  .filters {
    display: none;
  }

  .filterButton {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

/* Modal styles /
  .modalStyle {
  / You can add more specific styles for the modal here */
