.browseContainer {
  display: flex;
  margin: 2rem 9rem 0;
  min-width: 90% !important;
  max-height: 100vh !important;
  overflow: hidden; /* Hide the overflow */
}

/* Add responsive styles if necessary */
@media (max-width: 768px) {
  .browseContainer {
    flex-direction: column;
  }
}
