@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

.title {
  font-family: Anton !important;
  font-size: 1.7rem !important;
  margin-bottom: 2rem !important;
}
